
$accent: #2d6a4f;
$accent-light-10: #427961;
$accent-light-20: #578872;
$accent-light-30: #6c9784;
$accent-light-40: #81a695;
$accent-light-50: #96b5a7;
$accent-light-60: #abc3b9;
$accent-light-70: #c0d2ca;
$accent-light-80: #d5e1dc;
$accent-light-90: #eaf0ed;

$accent-dark-10: #295f47;
$accent-dark-20: #24553f;
$accent-dark-30: #1f4a37;
$accent-dark-40: #1b402f;
$accent-dark-50: #173528;
$accent-dark-60: #122a20;
$accent-dark-70: #0d2018;
$accent-dark-80: #091510;
$accent-dark-90: #040b08;

$background-primary: white ;
$background-secondary: #F3F4F6;

$nav-link-hover: #f3f3f3;

$text-h-tag: #333333;
$text-body: #333333;
$text-highlight: #111111;
$text-subtitle: #86868b;

$button-to-top: #f127c6;

$button-primary:#1d1d1f;
$button-highlight: $accent;

$input: #1d1d1f;
$input-highlight: $accent;
