/* ============================================ */
/*               || FONT SIZES                  */
/* ============================================ */

$font-size-10: 0.625rem; // Equivalent to 10px
$font-size-12: 0.75rem; // Equivalent to 12px
$font-size-14: 0.875rem; // Equivalent to 14px
$font-size-16: 1rem; // Equivalent to 16px
$font-size-18: 1.125rem; // Equivalent to 18px
$font-size-20: 1.25rem; // Equivalent to 20px
$font-size-22: 1.375rem; // Equivalent to 22px
$font-size-24: 1.5rem; // Equivalent to 24px
$font-size-26: 1.625rem; // Equivalent to 26px
$font-size-28: 1.75rem; // Equivalent to 28px
$font-size-30: 1.875rem; // Equivalent to 30px
$font-size-32: 2rem; // Equivalent to 32px
$font-size-34: 2.125rem; // Equivalent to 34px
$font-size-36: 2.25rem; // Equivalent to 36px
$font-size-38: 2.375rem; // Equivalent to 38px
$font-size-40: 2.5rem; // Equivalent to 40px
$font-size-42: 2.625rem; // Equivalent to 42px
$font-size-44: 2.75rem; // Equivalent to 44px
$font-size-46: 2.875rem; // Equivalent to 46px
$font-size-48: 3rem; // Equivalent to 48px
$font-size-50: 3.125rem; // Equivalent to 50px
$font-size-52: 3.25rem; // Equivalent to 52px
$font-size-54: 3.375rem; // Equivalent to 54px
$font-size-56: 3.5rem; // Equivalent to 56px
$font-size-57: 3.563rem; // Equivalent to 57px
$font-size-58: 3.625rem; // Equivalent to 58px
$font-size-60: 3.75rem; // Equivalent to 60px
$font-size-62: 3.875rem; // Equivalent to 62px
$font-size-64: 4rem; // Equivalent to 64px
$font-size-66: 4.125rem; // Equivalent to 66px
$font-size-68: 4.25rem; // Equivalent to 68px
$font-size-70: 4.375rem; // Equivalent to 70px
$font-size-72: 4.5rem; // Equivalent to 72px
$font-size-74: 4.625rem; // Equivalent to 74px
$font-size-76: 4.75rem; // Equivalent to 76px
$font-size-78: 4.875rem; // Equivalent to 78px
$font-size-80: 5rem; // Equivalent to 80px
$font-size-82: 5.125rem; // Equivalent to 82px
$font-size-84: 5.25rem; // Equivalent to 84px
$font-size-86: 5.375rem; // Equivalent to 86px
$font-size-88: 5.5rem; // Equivalent to 88px
$font-size-90: 5.625rem; // Equivalent to 90px
$font-size-92: 5.75rem; // Equivalent to 92px
$font-size-94: 5.875rem; // Equivalent to 94px
$font-size-96: 6rem; // Equivalent to 96px
$font-size-98: 6.125rem; // Equivalent to 98px
$font-size-100: 6.25rem; // Equivalent to 100px


/* ============================================ */
/*             || H TAGS (TITLES)               */
/* ============================================ */

$size-h1: clamp($font-size-48, 14vw, $font-size-62);
$size-h2: clamp($font-size-36, 5vw, $font-size-48);
$size-h3: clamp($font-size-16, 15vw, $font-size-22);

$hero-subtitle: clamp(1.25rem, 4vw, 1.5rem);


/* ============================================ */
/*             || FONT FAMILIES                 */
/* ============================================ */

$family-primary: 'Inter', sans-serif; // calibri, sans-serif maybe????


