$spaceing-size-2: 0.125rem; // Equivalent to 2px
$spaceing-size-4: 0.25rem; // Equivalent to 4px
$spaceing-size-8: 0.5rem; // Equivalent to 8px
$spaceing-size-12: 0.75rem; // Equivalent to 12px
$spaceing-size-16: 1rem; // Equivalent to 16px
$spaceing-size-24: 1.5rem; // Equivalent to 24px
$spaceing-size-32: 2rem; // Equivalent to 32px
$spaceing-size-48: 3rem; // Equivalent to 48px
$spaceing-size-64: 4rem; // Equivalent to 64px
$spaceing-size-72: 4.5rem; // Equivalent to 64px
$spaceing-size-80: 5rem; // Equivalent to 80px
$spaceing-size-96: 6rem; // Equivalent to 96px
$spaceing-size-112: 7rem; // Equivalent to 112px
$spaceing-size-128: 8rem; // Equivalent to 128px
$spaceing-size-144: 9rem; // Equivalent to 144px
$spaceing-size-160: 10rem; // Equivalent to 160px

