@use '../variable/colour';
@use '../variable/font';
@use '../variable/spacing';
@use '../variable/breakpoint';
@use '../variable/border';


button {
  border: none;
  text-decoration: none;
}

.button {
  border-width: 3px;
  border-style: solid;
  padding: spacing.$spaceing-size-12 spacing.$spaceing-size-24;
  font-size: font.$font-size-16;
  font-weight: 700;
  font-family: font.$family-primary;
  background-color: transparent;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  

  cursor: pointer;
  transition: background-color 350ms ease-in-out, color 350ms ease-in-out, border-color 350ms ease-in-out;


 

  @include breakpoint.media("mobile-350px") {
    width: 90vw;
  }
  
}

.button--highlight {
  background-color: white;
  border-color: white;
  color: #343434;
  cursor: pointer;

 
}



.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: spacing.$spaceing-size-12;

 
}


#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 60px;
  width: 60px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  opacity: 0; /* Initially hidden */
  visibility: hidden; /* Initially hidden */
  transition: all 0.5s;
}

#progress.show {
  opacity: 1; /* Visible */
  visibility: visible; /* Visible */
}


#progress-value {
  display: block;
  height: calc(100% - 12px); /* adjusted for smaller button */
  width: calc(100% - 12px);  /* adjusted for smaller button */
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 20px;  /* adjusted font size */
  color: black;
}



